thead tr{
    background-color: #dc3545;
    color: #fff;
    text-align: justify;
    border-bottom: 2px solid #444;
}

.bg-a-tratar{
    background-color: #f5b507;
    text-align: center;
    font-weight: bold;
}

.bg-pendente{
    background-color: #9b2020;
    text-align: center;
    font-weight: bold;
    color: #fff;
}

.table > tbody > tr > td{
    text-align: center;
    padding: 0;
    margin: 0;
}

.table > tbody > tr > td > button{
    width: 100%; 
    height: 40px;
    margin: 0;
}

        /* CSS DO FILTRO */

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #ddd;
}

.date{
    display: flex;
}

.div-date{
    display: flex;
    align-items: center;
    width: 100%;
    margin-right: 50px;
}

.div-date > label{
    margin-right: 5px;
    font-size: 1.1em;
    font-weight: bold;
}

.div-date  input{
    font-size: 1.2em;
    font-weight: bold;
}





/* CSS DO MODAL DA FILA DE TRATATIVAS */

.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1.1px;
    padding: 0;
    margin: 0;
}

.header{
    background-color: #571925;
    width: 100%;
    margin: auto;
    color: #fff;

}

.header h1{
    font-size: 2em;
    text-align: center;
}

.main{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
}

.info{
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin: 5px;
    min-width: 350px;
}

.info-lograd{
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin: 5px;
    width: 100%;
    min-width: 300px;
}

.head{
    text-align: center;
    font-size: 1.4em;
    background-color: #dc3545;
    color: #fff;
    /* padding: 5px; */
}

.article{
    /* width: auto; */
    padding: 5px;
}

.dados{
    text-align: center;
    font-size: 1.4em;
    padding: 5px;
    font-weight: 700;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #444;
}

/* formulario */

.article-form{
    padding: 5px;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #444;
}

.article-form label{
    font-weight: 700;
    font-size: 1.4em;
}

.select{
    text-align: center;
    font-size: 1.4em;
    padding: 5px;
    font-weight: 700;
}

.center{
    justify-content: center;
}

form:nth-child(3){
    width: 100%;
}

.imagens{
    display: flex;
    width: 100%;
    /* border-bottom: 1px solid #000; */
    box-sizing: border-box;
}

.upload{
    display: flex;
}
input[type="file"]{
    display: none;
}
.imagens label{
    padding: 10px 30px;
    background-color: #fff;
    color: #333;
    text-align: center;
    transition: .5s;
    margin-top: 3px;
    font-size: 1.4em;
}

.imagens label:hover{
    color: #fff;
    background-color: #dc3545;
    border: 1px solid #000;
}

.upload img{
    width: 20px;
    height: 20px;
    margin-left: 10px;
}


 /* CSS RELATORIO   */


.card-info{
    background-color: #fff;
}

.main-relatorio{
    background-color: #f1f4f6;
}


.card{
    box-shadow: 2px 2px 7px #444;
    padding: 0; 
}

.cards{
    box-shadow: 2px 2px 7px #444;
    padding: 5px; 
    min-width: 170px; 
    border-radius: 3px;

}

.cadastro{
    background: radial-gradient(rgb(120, 192, 240), rgba(54, 162, 235));
}
.aTratar{
    background: radial-gradient(rgb(241, 136, 159), rgba(255, 99, 132));
}
.tratados{
    background: radial-gradient(rgb(115, 224, 224), rgba(75, 192, 192));
}
.pendentes{
    background: radial-gradient(rgb(252, 223, 152), rgba(255, 206, 86));
}
/* .aTratar{
    background: radial-gradient(rgb(241, 136, 159), rgba(255, 99, 132));
} */


.icon{
    height: 40%;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.icon > img{
    width: 45px;
    height:45px;
    filter: invert(100%);
}

.subtitle{
    font-size: 1em;
    color: #fff;
    padding: 10px;
    font-weight: bold;
    text-align: center;
}


.card-body{
    font-size: 2em;
    font-weight: 700;
    font-family: 'Oswald', sans-serif;
    color: #fff;
    padding: 5px;
    text-align: center;
}




.title-card{
    font-size: 1.2em;
    padding: 5px;
    font-weight: bold;
    /* background-color: #fd435670; */
    border-bottom: 1px solid #444;
    width: 100%;
}

